body {
  padding: 15px
}

.border-box {
  border: 1.5px solid;
}

.inside-box {
  width: 95%;
  margin: 5px auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.filterableProductTable {
  width: 300px;
  border-color: orange;
}

.searchBar {
  border-color: blue;
}

.productTable {
  border-color: green;
}